<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Hive sample</title>
		<script src="/socket.io/socket.io.js"></script>
		<script src="static/js/ui.js"></script>
		<script src="static/js/drawer.js"></script>
		<script src="static/js/hive.js"></script>
    </head>

    <body>
		<div>
            <canvas id="myCanvas" width="800" height="800" style="background-color: #7d7070">
            </canvas>
        </div>
    </body>
</html>
