<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Hive sample</title>
		<script src="static/js/lib/pixi.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="static/js/ui.js"></script>
		<script src="static/js/drawer.js"></script>
		<script src="static/js/hive.js"></script>
    </head>

    <body>
    </body>
</html>
