<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Games samples</title>
    </head>

    <body>
		<ul>
		<% list.forEach(function(params){ %>
			<li>
				<a style="font-size: 2em" href="/<%= params.name %>"><%= params.name %> sample</a>
			</li>
		<% }); %>
        </ul>
    </body>
</html>
