<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Games samples</title>
    </head>

    <body>
		<div>
            <a href="/hive">Hive sample</a>
        </div>
    </body>
</html>
